body {
  background-color: #333;
  color: #eee;
  font-family: Tahoma, Verdana, Arial;
}

#energy-data {
  background-color: rgba(20, 30, 25, 0.5);
  display:table;
  position: absolute;
  padding-left: 1%;
  width: 98%;
}

#energy-chart {
  width: 33%;
  float: left;
  white-space: no-wrap;
  margin-right: 5px;
}

#power {
  width: 33%;
  float: left;
  white-space: no-wrap;
  margin-right: 5px;
}

#specific-energy {
  width: 33%;
  float: left;
  white-space: no-wrap;
}