body {
  background-color: #333;
  color: #eee;
  font-family: Tahoma, Verdana, Arial;
}

#energy-data {
  background-color: rgba(20, 30, 25, 0.5);
  display:table;
  position: absolute;
  padding-left: 1%;
  width: 98%;
}

#energy-chart {
  width: 33%;
  float: left;
  white-space: no-wrap;
  margin-right: 5px;
}

#power {
  width: 33%;
  float: left;
  white-space: no-wrap;
  margin-right: 5px;
}

#specific-energy {
  width: 33%;
  float: left;
  white-space: no-wrap;
}

#energy-speed-container {
  color: rgb(234,146,23);
}

#energy-height-container {
  color: rgb(0,128,255);
}

.highcharts-figure, .highcharts-data-table table {
  min-width: 320px; 
  max-width: 800px;
  margin: 1em auto;
}

#container {
  height: 200px;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #EBEBEB;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}
.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}
.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
  padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
.highcharts-data-table tr:hover {
  background: #f1f7ff;
}